<!-- SECTION-NAV -->
<div id="section-nav-wrap">
    <section id="section-nav">
        <p>Trang chủ / <a href="/cart">Giỏ hàng</a></p>
    </section>
</div>
<!-- /SECTION-NAV -->

<!-- SHOP -->
<div id="shop-wrap">
    <section id="shop" class="right">
        <!-- SIDEBAR CONTROL -->
        <div class="sidebar-control"></div>
        <!-- /SIDEBAR CONTROL -->

        <!-- SHOP SIDEBAR -->
        <aside class="shop-sidebar checkout-cart">
            <!-- SIDEBAR CONTROL -->
            <svg class="svg-plus sidebar-control">
                <use xlink:href="#svg-plus"></use>
            </svg>
            <!-- /SIDEBAR CONTROL -->

            <h3 class="title">Phí giao hàng</h3>
            <form class="westeros-form">
                <!-- SELECT BLOCK -->
                <label class="select-block" for="country">
                    <select name="country" id="country">
                        <option value="0" selected="selected">TP. HCM</option>
                        <option value="1">Hà Nội</option>
                        <option value="2">Đà Nẵng</option>
                        <option value="3">Hải Phòng</option>
                        <option value="4">Cần Thơ</option>
                        <option value="5">An Giang</option>
                        <option value="6">Bà Rịa – Vũng Tàu</option>
                        <option value="7">Bắc Giang</option>
                        <option value="8">Bắc Kạn</option>
                        <option value="9">Bạc Liêu</option>
                        <option value="10">Bắc Ninh</option>
                        <option value="11">Bến Tre</option>
                        <option value="12">Bình Định</option>
                        <option value="13">Bình Dương</option>
                        <option value="14">Bình Phước</option>
                        <option value="15">Bình Thuận</option>
                        <option value="16">Cà Mau</option>
                        <option value="17">Cao Bằng</option>
                        <option value="18">Đắk Lắk</option>
                        <option value="19">Đắk Nông</option>
                        <option value="20">Điện Biên</option>
                        <option value="21">Đồng Nai</option>
                        <option value="22">Đồng Tháp</option>
                        <option value="23">Gia Lai</option>
                        <option value="24">Hà Giang</option>
                        <option value="25">Hà Nam</option>
                        <option value="26">Hà Tĩnh</option>
                        <option value="27">Hải Dương</option>
                        <option value="28">Hải Phòng</option>
                        <option value="29">Hậu Giang</option>
                        <option value="30">Hòa Bình</option>
                        <option value="31">Hưng Yên</option>
                        <option value="32">Khánh Hòa</option>
                        <option value="33">Kiên Giang</option>
                        <option value="34">Kon Tum</option>
                        <option value="35">Lai Châu</option>
                        <option value="36">Lâm Đồng</option>
                        <option value="37">Lạng Sơn</option>
                        <option value="38">Lào Cai</option>
                        <option value="39">Long An</option>
                        <option value="40">Nam Định</option>
                        <option value="41">Nghệ An</option>
                        <option value="42">Ninh Bình</option>
                        <option value="43">Ninh Thuận</option>
                        <option value="44">Phú Thọ</option>
                        <option value="45">Phú Yên</option>
                        <option value="46">Quảng Bình</option>
                        <option value="47">Quảng Nam</option>
                        <option value="48">Quảng Ngãi</option>
                        <option value="49">Quảng Ninh</option>
                        <option value="50">Quảng Trị</option>
                        <option value="51">Sóc Trăng</option>
                        <option value="52">Sơn La</option>
                        <option value="53">Tây Ninh</option>
                        <option value="54">Thái Bình</option>
                        <option value="55">Thái Nguyên</option>
                        <option value="56">Thanh Hóa</option>
                        <option value="57">Thừa Thiên Huế</option>
                        <option value="58">Tiền Giang</option>
                        <option value="59">Trà Vinh</option>
                        <option value="60">Tuyên Quang</option>
                        <option value="61">Vĩnh Long</option>
                        <option value="62">Vĩnh Phúc</option>
                        <option value="63">Yên Bái</option>
                    </select>
                    <!-- SVG ARROW -->
                    <svg class="svg-arrow select-arrow">
                        <use xlink:href="#svg-arrow"></use>
                    </svg>
                    <!-- /SVG ARROW -->
                </label>
                <!-- /SELECT BLOCK -->

                <!-- SELECT BLOCK -->
                <label class="select-block" for="state">
                    <select name="state" id="state">
                        <option value="0">Quận 1</option>
                        <option value="1">Quận 2</option>
                        <option value="2">Quận 3</option>
                        <option value="3">Quận 4</option>
                        <option value="4">Quận 5</option>
                        <option value="5">Quận 6</option>
                        <option value="6">Quận 7</option>
                        <option value="7">Quận 8</option>
                        <option value="8">Quận 9</option>
                        <option value="9">Quận 10</option>
                        <option value="10">Quận 11</option>
                        <option value="11">Quận 12</option>
                        <option value="12">Quận Bình Tân</option>
                        <option value="13">Quận Bình Thạnh</option>
                        <option value="14">Quận Gò Vấp</option>
                        <option value="15">Quận Phú Nhuận</option>
                        <option value="16">Quận Tân Bình</option>
                        <option value="17">Quận Tân Phú</option>
                        <option value="18">Quận Thủ Đức</option>
                        <option value="19">Huyện Bình Chánh</option>
                        <option value="20">Huyện Cần Giờ</option>
                        <option value="21">Huyện Củ Chi</option>
                        <option value="22">Huyện Hóc Môn</option>
                        <option value="23">Huyện Nhà Bè</option>
                    </select>
                    <!-- SVG ARROW -->
                    <svg class="svg-arrow select-arrow">
                        <use xlink:href="#svg-arrow"></use>
                    </svg>
                    <!-- /SVG ARROW -->
                </label>
                <!-- /SELECT BLOCK -->

                <!-- SELECT BLOCK -->
                <label class="select-block last" for="address">
                    <input type="text" name="address" id="address" placeholder="Địa chỉ cụ thể" >
                </label>
                <!-- /SELECT BLOCK -->

                <button class="button small">Cập nhật</button>
            </form>

            <h3 class="title">Mã giảm giá</h3>
            <form class="westeros-form">
                <input type="text" placeholder="Nhập mã giảm giá của bạn tại đây...">
                <button class="button small">Kiểm tra</button>
            </form>

            <h3 class="title">Tổng cộng</h3>
            <!-- CART TOTAL -->
            <div class="cart-total">
                <!-- SUBTOTAL -->
                <div class="subtotal">
                    <h5>Tiền hàng</h5>
                    <h5>4.240.000 VNĐ</h5>
                </div>
                <!-- /SUBTOTAL -->

                <!-- SUBTOTAL -->
                <div class="subtotal">
                    <h5>Phí giao hàng</h5>
                    <h5>50.000 VNĐ</h5>
                </div>
                <!-- /SUBTOTAL -->

                <!-- SUBTOTAL -->
                <div class="subtotal">
                    <h5>Giảm giá</h5>
                    <h5>-15.000 VNĐ</h5>
                </div>
                <!-- /SUBTOTAL -->

                <!-- TOTAL -->
                <div class="total">
                    <h5>Tổng cộng</h5>
                    <h5>4.270.000 VNĐ</h5>
                </div>
                <!-- /TOTAL -->
            </div>
            <!-- /CART TOTAL -->

            <a href="/checkout" class="button">Đơn hàng</a>
        </aside>
        <!-- /SHOP SIDEBAR -->

        <!-- SHOP PRODUCTS -->
        <div class="shop-products shop-cart">
            <h3 class="title">Giỏ hàng</h3>


            <!-- COMPARE MODAL -->
            <div id="compare-modal" class="compare-modal mfp-with-anim mfp-hide">
                <img src="images/icons/compare-modal-logo.png" alt="logo">
                <h5>The item <span>product name</span></h5>
                <h6>Has been sucessfully added to compare</h6>
                <div class="options">
                    <a class="button medium mfp-close">Return to store</a>
                    <a href="/compare" class="button medium compare">Go to compare</a>
                </div>
            </div>
            <!-- /COMPARE MODAL -->

            <!-- SHOPPING CART -->
            <div class="shopping-cart wishlist-cart">

                <!-- ROW -->
                <div class="row header">
                    <!-- CELL -->
                    <div class="cell">
                        <h5>Sản phẩm</h5>
                    </div>
                    <!-- /CELL -->

                    <!-- CELL -->
                    <div class="cell">
                        <h5>Đơn giá</h5>
                    </div>
                    <!-- /CELL -->

                    <!-- CELL -->
                    <div class="cell">
                        <h5>Số lượng</h5>
                    </div>
                    <!-- /CELL -->

                    <!-- CELL -->
                    <div class="cell">
                        <h5>Tổng cộng</h5>
                    </div>
                    <!-- /CELL -->

                    <!-- CELL -->
                    <div class="cell">
                        <h5>Action</h5>
                    </div>
                    <!-- /CELL -->
                </div>
                <!-- /ROW -->

                <!-- ROW -->
                {{#each datCart}}
                    <div class="row">
                        <!-- CELL -->
                        <div class="cell cart-item">
                            <div class="product-picture">
                                <figure class="liquid">
                                    <img src="{{this.url}}" alt="product-picture">
                                </figure>
                            </div>
                            <p class="highlighted">{{this.name}}</p>
                            <h3>{{this.seri}}</h3>
                            <p>Không có mô tả.</p>
                            <h6>Size: <span>{{this.size}}</span></h6>
                            <!-- COLORPICKER -->
                            <ul class="colorpicker">
                                <li><span data-color="{{this.color}}"></span></li>
                            </ul>
                            <!-- /COLORPICKER -->
                        </div>
                        <!-- /CELL -->

                        <!-- CELL -->
                        <div class="cell">
                            <p class="highlighted">{{this.price}}</p>
                        </div>
                        <!-- /CELL -->

                        <!-- CELL -->
                        <div class="cell">
                            <!-- COUNTER -->
                            <div class="counter">
                                <div class="control left"></div>
                                <div class="value">
                                    <h5>{{this.number}}</h5>
                                </div>
                                <div class="control right"></div>
                            </div>
                            <!-- /COUNTER -->
                        </div>
                        <!-- /CELL -->

                        <!-- CELL -->
                        <div class="cell">
                            <p class="highlighted">{{this.total}}</p>
                        </div>
                        <!-- /CELL -->

                        <!-- CELL -->
                        <div class="cell buttons medium">
                            <!-- ACTIONS -->
                            <div class="actions">
                                <a href="#" class="button medium no-stock">
                                    <!-- SVG PLUS -->
                                    <svg class="svg-plus">
                                        <use xlink:href="#svg-plus"></use>
                                    </svg>
                                    <!-- /SVG PLUS -->
                                </a>
                            </div>
                            <!-- /ACTIONS -->
                        </div>
                        <!-- /CELL -->
                    </div>
                {{/each}}
                <!-- /ROW -->

            </div>
            <!-- /SHOPPING CART -->

            <!-- PROFILE INFO ---- THÊM LUỒNG MUA HÀNG --- -->
            <div class="profile-info">
                <!-- PROFILE HEADER -->
                <h5 class="profile-header">
                    <span>01</span>Phương thức giao hàng
                    <!-- SVG PLUS 4-12 12- 4 => 12x12 -->
                    <svg class="plus">
                        <rect class="vertical" x="4" width="4" height="12"/>
                        <rect y="4" width="12" height="4"/>
                    </svg>
                    <!-- /SVG PLUS -->
                </h5>
                <!-- /PROFILE HEADER -->

                <!-- PROFILE DATA -->
                <div class="profile-data">
                    <!-- PROFILE COLUMN -->
                    <div class="profile-column">
                        <h5>Khách hàng mới</h5>
                        <div class="featured-form">
                            <form class="westeros-form">
                                <label class="rl-label">Đăng kí mới hoặc mua hàng không cần đăng kí</label>
                                <div class="full-input">
                                    <input type="radio" id="op1" name="register_guest" value="op1" checked>
                                    <label for="op1"><span class="radio"><span></span></span>Đăng kí tài khoản</label>
                                </div>
                                <div class="full-input">
                                    <input type="radio" id="op2" name="register_guest" value="op2">
                                    <label for="op2"><span class="radio"><span></span></span>Mua hàng không cần đăng nhập</label>
                                </div>
                                <p>Bằng cách đồng ý mua hàng, khách hàng chấp thuận các điều khoản mua hàng của shop.</p>
                                <button class="button login">Tiếp tục</button>
                            </form>
                        </div>
                    </div>
                    <!-- /PROFILE COLUMN -->

                    <!-- PROFILE COLUMN -->
                    <div class="profile-column">
                        <h5>Đăng nhập</h5>
                        <div class="featured-form">
                            <form class="westeros-form">
                                <label class="rl-label">Nhập Email</label>
                                <input type="text" placeholder="Nhập email của bạn tại đây...">
                                <label class="rl-label">Nhập mật khẩu</label>
                                <input type="text" placeholder="Nhập mật khẩu của bạn tại đây...">
                                <a href="/forgot" class="fp-msg">Quên mật khẩu? Lấy lại mật khẩu tại đây!</a>
                                <button class="button login">Đăng nhập ngay!</button>
                            </form>
                        </div>
                    </div>
                    <!-- /PROFILE COLUMN -->
                </div>
                <!-- /PROFILE DATA -->

                <!-- PROFILE HEADER -->
                <h5 class="profile-header">
                    <span>02</span>Thông tin hóa đơn
                    <!-- SVG PLUS -->
                    <svg class="plus">
                        <rect class="vertical" x="4" width="4" height="12"/>
                        <rect y="4" width="12" height="4"/>
                    </svg>
                    <!-- /SVG PLUS -->
                </h5>
                <!-- /PROFILE HEADER -->

                <!-- PROFILE DATA -->
                <div class="profile-data">
                    <div class="featured-form">
                        <form class="westeros-form">
                            <div>
                                <label class="rl-label required">Tên</label>
                                <input type="text" placeholder="Nhập tên của bạn tại đây...">
                            </div>
                            <div>
                                <label class="rl-label required">Họ</label>
                                <input type="text" placeholder="Nhập họ của bạn tại đây...">
                            </div>
                            <div>
                                <label class="rl-label required">Địa chỉ email</label>
                                <input type="text" placeholder="Nhập địa chỉ email của bạn tại đây...">
                            </div>
                            <div>
                                <label class="rl-label required">Số điện thoại</label>
                                <input type="text" placeholder="Nhập số điện thoại của bạn tại đây...">
                            </div>
                            <div>
                                <label class="rl-label">Tên công ty</label>
                                <input type="text" placeholder="Nhập tên công ty tại đây...">
                            </div>
                            <div>
                                <label class="rl-label required">Địa chỉ</label>
                                <input type="text" placeholder="Nhập địa chỉ giao hàng tại dây...">
                            </div>
                            <div>
                                <label class="rl-label required">Quốc gia</label>
                                <label for="country1">
                                    <select name="country" id="country1">
                                        <option value="0">Chọn tỉnh/thành...</option>
                                        <option value="1">TP Hồ Chí Minh</option>
                                        <option value="2">Đà Nẵng</option>
                                        <option value="3">Hà Nội</option>
                                        <option value="4">Khác</option>
                                    </select>
                                    <!-- SVG ARROW -->
                                    <svg class="svg-arrow select-arrow">
                                        <use xlink:href="#svg-arrow"></use>
                                    </svg>
                                    <!-- /SVG ARROW -->
                                </label>
                            </div>
                            <div>
                                <label class="rl-label required">Quận / Huyện</label>
                                <input type="text" placeholder="Nhập tên quận/huyện...">
                            </div>
                            <div>
                                <label class="rl-label required">Xã / Phường</label>
                                <input type="text" placeholder="Nhập tên xã/phường...">
                            </div>
                            <div>
                                <label class="rl-label required">Mã bưu chính</label>
                                <input type="text" placeholder="Nhập mã bưu chính tại đây...">
                            </div>
                            <div>
                                <div class="full-input">
                                    <input type="checkbox" id="autocomplete" name="autocomplete" checked>
                                    <label for="autocomplete"><span class="checkbox"><span></span></span>Tự động điền thông tin của bạn</label>
                                </div>
                                <div class="full-input">
                                    <input type="checkbox" id="shipping-address" name="shipping-address" checked>
                                    <label for="shipping-address"><span class="checkbox"><span></span></span>Giao hàng đến địa chỉ tương ứng</label>
                                </div>
                            </div>
                            <div>
                                <button class="button login">Tiếp tục</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /PROFILE DATA -->

                <!-- PROFILE HEADER -->
                <h5 class="profile-header">
                    <span>03</span>Thông tin giao hàng
                    <!-- SVG PLUS -->
                    <svg class="plus">
                        <rect class="vertical" x="4" width="4" height="12"/>
                        <rect y="4" width="12" height="4"/>
                    </svg>
                    <!-- /SVG PLUS -->
                </h5>
                <!-- /PROFILE HEADER -->


                <!-- PROFILE DATA -->
                <div class="profile-data">
                    <div class="featured-form">
                        <form class="westeros-form">
                            <div>
                                <label class="rl-label required">Tên</label>
                                <input type="text" placeholder="Nhập tên của bạn tại đây...">
                            </div>
                            <div>
                                <label class="rl-label required">Họ</label>
                                <input type="text" placeholder="Nhập họ của bạn tại đây...">
                            </div>
                            <div>
                                <label class="rl-label required">Địa chỉ email</label>
                                <input type="text" placeholder="Nhập địa chỉ email của bạn tại đây...">
                            </div>
                            <div>
                                <label class="rl-label required">Số điện thoại</label>
                                <input type="text" placeholder="Nhập số điện thoại của bạn tại đây...">
                            </div>
                            <div>
                                <label class="rl-label">Tên công ty</label>
                                <input type="text" placeholder="Nhập tên công ty tại đây...">
                            </div>
                            <div>
                                <label class="rl-label required">Địa chỉ</label>
                                <input type="text" placeholder="Nhập địa chỉ giao hàng tại dây...">
                            </div>
                            <div>
                                <label class="rl-label required">Quốc gia</label>
                                <label for="country1">
                                    <select name="country" id="country1">
                                        <option value="0">Chọn tỉnh/thành...</option>
                                        <option value="1">TP Hồ Chí Minh</option>
                                        <option value="2">Đà Nẵng</option>
                                        <option value="3">Hà Nội</option>
                                        <option value="4">Khác</option>
                                    </select>
                                    <!-- SVG ARROW -->
                                    <svg class="svg-arrow select-arrow">
                                        <use xlink:href="#svg-arrow"></use>
                                    </svg>
                                    <!-- /SVG ARROW -->
                                </label>
                            </div>
                            <div>
                                <label class="rl-label required">Quận / Huyện</label>
                                <input type="text" placeholder="Nhập tên quận/huyện...">
                            </div>
                            <div>
                                <label class="rl-label required">Xã / Phường</label>
                                <input type="text" placeholder="Nhập tên xã/phường...">
                            </div>
                            <div>
                                <label class="rl-label required">Mã bưu chính</label>
                                <input type="text" placeholder="Nhập mã bưu chính tại đây...">
                            </div>
                            <div class="full-input">
                                <label class="rl-label">Ghi chú cho nhân viên giao hàng</label>
                                <textarea placeholder="Nhập yêu cầu của bạn tại đây..."></textarea>
                            </div>
                            <div class="full-input"></div>
                            <div>
                                <input type="checkbox" id="autocomplete2" name="autocomplete2" checked>
                                <label for="autocomplete2"><span class="checkbox"><span></span></span>Tự động điền với thông tin của bạn</label>
                            </div>
                            <div>
                                <button class="button login">Tiếp tục</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /PROFILE DATA -->


                <!-- PROFILE HEADER -->
                <h5 class="profile-header">
                    <span>04</span>Phương thức giao hàng
                    <!-- SVG PLUS -->
                    <svg class="plus">
                        <rect class="vertical" x="4" width="4" height="12"/>
                        <rect y="4" width="12" height="4"/>
                    </svg>
                    <!-- /SVG PLUS -->
                </h5>
                <!-- /PROFILE HEADER -->

                <!-- PROFILE DATA -->
                <div class="profile-data">
                    <div class="featured-form">
                        <form class="westeros-form">
                            <div class="full-input">
                                <input type="radio" id="free-shipping" name="shipping_method" value="free-shipping">
                                <label class="rl-label" for="free-shipping"><span class="radio"><span></span></span>Miễn phí (0 VNĐ)</label>
                                <p>Dành cho các đơn hàng từ 2.000.000 VNĐ trở lên.</p>
                            </div>

                            <div class="full-input">
                                <input type="radio" id="domestic-shipping" name="shipping_method" value="domestic-shipping">
                                <label class="rl-label" for="domestic-shipping"><span class="radio"><span></span></span>Thông thường (50.000 VNĐ)</label>
                                <p>Dành cho các đơn hàng thông thường.</p>
                            </div>

                            <div class="full-input">
                                <input type="radio" id="overnight-shipping" name="shipping_method" value="overnight-shipping" checked>
                                <label class="rl-label" for="overnight-shipping"><span class="radio"><span></span></span>Giao hàng nhanh 24h(150.000 VNĐ)</label>
                                <p>Nhận hàng ngay chỉ sau 24h.</p>
                            </div>

                            <button class="button login">Tiếp tục</button>
                        </form>
                    </div>
                </div>
                <!-- /PROFILE DATA -->

                <!-- PROFILE HEADER -->
                <h5 class="profile-header">
                    <span>05</span>Phương thức thanh toán
                    <!-- SVG PLUS -->
                    <svg class="plus">
                        <rect class="vertical" x="4" width="4" height="12"/>
                        <rect y="4" width="12" height="4"/>
                    </svg>
                    <!-- /SVG PLUS -->
                </h5>
                <!-- /PROFILE HEADER -->

                <!-- PROFILE DATA -->
                <div class="profile-data">
                    <div class="featured-form">
                        <form class="westeros-form">
                            <div class="full-input">
                                <input type="radio" id="bank" name="payment_method" value="bank">
                                <label class="rl-label" for="bank"><span class="radio"><span></span></span>Trực tiếp qua ngân hàng</label>
                                <p>Chuyển tiền trực tiếp qua ngân hàng hoặc ATM.</p>
                            </div>

                            <div class="full-input">
                                <input type="radio" id="paypal" name="payment_method" value="paypal">
                                <label class="rl-label" for="paypal"><span class="radio"><span></span></span>Bằng thẻ</label>
                            </div>

                            <div class="full-input">
                                <input type="radio" id="cheque" name="payment_method" value="cheque" checked>
                                <label class="rl-label" for="cheque"><span class="radio"><span></span></span>Thẻ Paypal</label>
                            </div>

                            <button class="button login">Tiếp tục</button>
                        </form>
                    </div>
                </div>
                <!-- /PROFILE DATA -->
                <button form="checkout-form" class="button checkout-button">Hoàn tất</button>
                </br>
            </div>
            <!-- /PROFILE INFO -->

        </div>
        <!-- /SHOP PRODUCTS -->
    </section>
</div>
<!-- /SHOP -->