<!-- SECTION-NAV -->
<div id="section-nav-wrap">
    <section id="section-nav">
        <p>Trang chủ / <a href="/cart">Giỏ hàng</a></p>
    </section>
</div>
<!-- /SECTION-NAV -->

<!-- SHOP -->
<div id="shop-wrap">
    <section id="shop" class="right">
        <!-- SIDEBAR CONTROL -->
        <div class="sidebar-control"></div>
        <!-- /SIDEBAR CONTROL -->

        <!-- SHOP SIDEBAR -->
        <aside class="shop-sidebar checkout-cart">
            <!-- SIDEBAR CONTROL -->
            <svg class="svg-plus sidebar-control">
                <use xlink:href="#svg-plus"></use>
            </svg>
            <!-- /SIDEBAR CONTROL -->

            <h3 class="title">Phí giao hàng</h3>
            <form class="westeros-form">
                <!-- SELECT BLOCK -->
                <label class="select-block" for="country">
                    <select name="country" id="country">
                        <option value="0">Tỉnh/thành...</option>
                        <option value="1">TPHCM</option>
                        <option value="2">Khác</option>
                    </select>
                    <!-- SVG ARROW -->
                    <svg class="svg-arrow select-arrow">
                        <use xlink:href="#svg-arrow"></use>
                    </svg>
                    <!-- /SVG ARROW -->
                </label>
                <!-- /SELECT BLOCK -->

                <!-- SELECT BLOCK -->
                <label class="select-block" for="state">
                    <select name="state" id="state">
                        <option value="0">Quận...</option>
                        <option value="1">Trung tâm</option>
                        <option value="1">Ngoại thành</option>
                    </select>
                    <!-- SVG ARROW -->
                    <svg class="svg-arrow select-arrow">
                        <use xlink:href="#svg-arrow"></use>
                    </svg>
                    <!-- /SVG ARROW -->
                </label>
                <!-- /SELECT BLOCK -->

                <!-- SELECT BLOCK -->
                <label class="select-block last" for="city">
                    <select name="city" id="city">
                        <option value="0">Địa chỉ cụ thể...</option>
                        <option value="1">123/3A Đường 2</option>
                        <option value="2">Khác</option>
                    </select>
                    <!-- SVG ARROW -->
                    <svg class="svg-arrow select-arrow">
                        <use xlink:href="#svg-arrow"></use>
                    </svg>
                    <!-- /SVG ARROW -->
                </label>
                <!-- /SELECT BLOCK -->

                <button class="button small">Cập nhật</button>
            </form>

            <h3 class="title">Mã giảm giá</h3>
            <form class="westeros-form">
                <input type="text" placeholder="Nhập mã giảm giá của bạn tại đây...">
                <button class="button small">Kiểm tra</button>
            </form>

            <h3 class="title">Tổng cộng</h3>
            <!-- CART TOTAL -->
            <div class="cart-total">
                <!-- SUBTOTAL -->
                <div class="subtotal">
                    <h5>Tiền hàng</h5>
                    <h5>800.000 VNĐ</h5>
                </div>
                <!-- /SUBTOTAL -->

                <!-- SUBTOTAL -->
                <div class="subtotal">
                    <h5>Phí giao hàng</h5>
                    <h5>50.000 VNĐ</h5>
                </div>
                <!-- /SUBTOTAL -->

                <!-- SUBTOTAL -->
                <div class="subtotal">
                    <h5>Giảm giá</h5>
                    <h5>-15.000 VNĐ</h5>
                </div>
                <!-- /SUBTOTAL -->

                <!-- TOTAL -->
                <div class="total">
                    <h5>Tổng cộng</h5>
                    <h5>835.000 VNĐ</h5>
                </div>
                <!-- /TOTAL -->
            </div>
            <!-- /CART TOTAL -->

            <a href="/checkout" class="button">Đơn hàng</a>
        </aside>
        <!-- /SHOP SIDEBAR -->

        <!-- SHOP PRODUCTS -->
        <div class="shop-products shop-cart">
            <h3 class="title">Giỏ hàng</h3>

            <!-- COMPARE MODAL -->
            <div id="compare-modal" class="compare-modal mfp-with-anim mfp-hide">
                <img src="images/icons/compare-modal-logo.png" alt="logo">
                <h5>The item <span>product name</span></h5>
                <h6>Has been sucessfully added to compare</h6>
                <div class="options">
                    <a class="button medium mfp-close">Return to store</a>
                    <a href="compare.html" class="button medium compare">Go to compare</a>
                </div>
            </div>
            <!-- /COMPARE MODAL -->

            <!-- SHOPPING CART -->
            <div class="shopping-cart wishlist-cart">

                <!-- ROW -->
                <div class="row header">
                    <!-- CELL -->
                    <div class="cell">
                        <h5>Sản phẩm</h5>
                    </div>
                    <!-- /CELL -->

                    <!-- CELL -->
                    <div class="cell">
                        <h5>Đơn giá</h5>
                    </div>
                    <!-- /CELL -->

                    <!-- CELL -->
                    <div class="cell">
                        <h5>Số lượng</h5>
                    </div>
                    <!-- /CELL -->

                    <!-- CELL -->
                    <div class="cell">
                        <h5>Tổng cộng</h5>
                    </div>
                    <!-- /CELL -->

                    <!-- CELL -->
                    <div class="cell">
                    </div>
                    <!-- /CELL -->
                </div>
                <!-- /ROW -->

                <!-- ROW -->
                {{#each datCart}}
                    <div class="row">
                        <!-- CELL -->
                        <div class="cell cart-item">
                            <div class="product-picture">
                                <figure class="liquid">
                                    <img src="{{this.url}}" alt="product-picture">
                                </figure>
                            </div>
                            <p class="highlighted">{{this.name}}</p>
                            <h3>{{this.seri}}</h3>
                            <p>Không có mô tả.</p>
                            <h6>Size: <span>{{this.size}}</span></h6>
                            <!-- COLORPICKER -->
                            <ul class="colorpicker">
                                <li><span data-color="{{this.color}}"></span></li>
                            </ul>
                            <!-- /COLORPICKER -->
                        </div>
                        <!-- /CELL -->

                        <!-- CELL -->
                        <div class="cell">
                            <p class="highlighted">{{this.price}}</p>
                        </div>
                        <!-- /CELL -->

                        <!-- CELL -->
                        <div class="cell">
                            <!-- COUNTER -->
                            <div class="counter">
                                <div class="control left"></div>
                                <div class="value">
                                    <h5>{{this.number}}</h5>
                                </div>
                                <div class="control right"></div>
                            </div>
                            <!-- /COUNTER -->
                        </div>
                        <!-- /CELL -->

                        <!-- CELL -->
                        <div class="cell">
                            <p class="highlighted">{{this.total}}</p>
                        </div>
                        <!-- /CELL -->

                        <!-- CELL -->
                        <div class="cell buttons small">
                            <!-- ACTIONS -->
                            <div class="actions">
                                <a href="#compare-modal" class="button medium compare cmp-popup" data-effect="mfp-3d-unfold">
                                    <!-- SVG COMPARE -->
                                    <svg class="svg-compare">
                                        <use xlink:href="#svg-compare"></use>
                                    </svg>
                                    <!-- /SVG COMPARE -->
                                </a>

                                <a href="#" class="button medium no-stock">
                                    <!-- SVG PLUS -->
                                    <svg class="svg-plus">
                                        <use xlink:href="#svg-plus"></use>
                                    </svg>
                                    <!-- /SVG PLUS -->
                                </a>
                            </div>
                            <!-- /ACTIONS -->
                        </div>
                        <!-- /CELL -->
                    </div>
                {{/each}}
                <!-- /ROW -->

            </div>
            <!-- /SHOPPING CART -->
        </div>
        <!-- /SHOP PRODUCTS -->
    </section>
</div>
<!-- /SHOP -->