<!-- SECTION-NAV -->
<div id="section-nav-wrap">
    <section id="section-nav">
        <p>Trang chủ / Shop / <a href="#">Danh mục</a></p>
    </section>
</div>
<!-- /SECTION-NAV -->

</br>
<h2 style="color:red;">&emsp;&emsp;&emsp;&emsp;&emsp;Đã tìm thấy 50 kết quả!</h2>

<!-- SHOP -->
<div id="shop-wrap">
    <section id="shop" class="right expandible-sidebar">
        <!-- SIDEBAR CONTROL -->
        <div class="sidebar-control">
            <!-- SVG GEAR -->
            <svg class="svg-gear">
                <use xlink:href="#svg-gear"></use>
            </svg>
            <!-- /SVG GEAR -->
        </div>
        <!-- /SIDEBAR CONTROL -->

        <!-- SHOP SIDEBAR -->
        <aside class="shop-sidebar">
            <!-- SIDEBAR CONTROL -->
            <svg class="svg-plus sidebar-control">
                <use xlink:href="#svg-plus"></use>
            </svg>
            <!-- /SIDEBAR CONTROL -->

            <h3 class="title">Loại</h3>
            <!-- ACCORDION -->
            <ul class="accordion">
                <!--ACCORDION ITEM-->
                <li>
                    <a href="#">
                        <h6>Đồng hồ thời trang (7)</h6>
                        <svg class="plus">
                            <rect class="vertical" x="3" width="3" height="9"/>
                            <rect y="3" width="9" height="3"/>
                        </svg>
                    </a>
                    <ul class="sub-items">
                        <li>
                            <!-- ITEM LIST -->
                            <ul>
                                <li>
                                    <a href="#">
                                        <!-- SVG ARROW -->
                                        <svg class="svg-arrow">
                                            <use xlink:href="#svg-arrow"></use>
                                        </svg>
                                        <!-- /SVG ARROW -->
                                        Nam (2)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <!-- SVG ARROW -->
                                        <svg class="svg-arrow">
                                            <use xlink:href="#svg-arrow"></use>
                                        </svg>
                                        <!-- /SVG ARROW -->
                                        Nữ (3)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <!-- SVG ARROW -->
                                        <svg class="svg-arrow">
                                            <use xlink:href="#svg-arrow"></use>
                                        </svg>
                                        <!-- /SVG ARROW -->
                                        Trẻ em (1)
                                    </a>
                                </li>
                            </ul>
                            <!-- /ITEM LIST -->
                        </li>
                    </ul>
                </li>
                <!--/ACCORDION ITEM-->

                <!--ACCORDION ITEM-->
                <li>
                    <a href="#">
                        <h6>Đồng hồ điện tử (15)</h6>
                        <svg class="plus">
                            <rect class="vertical" x="3" width="3" height="9"/>
                            <rect y="3" width="9" height="3"/>
                        </svg>
                    </a>
                    <ul class="sub-items">
                        <li>
                            <!-- ITEM LIST -->
                            <ul>
                                <li>
                                    <a href="#">
                                        <!-- SVG ARROW -->
                                        <svg class="svg-arrow">
                                            <use xlink:href="#svg-arrow"></use>
                                        </svg>
                                        <!-- /SVG ARROW -->
                                        Nam (12)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <!-- SVG ARROW -->
                                        <svg class="svg-arrow">
                                            <use xlink:href="#svg-arrow"></use>
                                        </svg>
                                        <!-- /SVG ARROW -->
                                        Nữ (1)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <!-- SVG ARROW -->
                                        <svg class="svg-arrow">
                                            <use xlink:href="#svg-arrow"></use>
                                        </svg>
                                        <!-- /SVG ARROW -->
                                        Trẻ em (2)
                                    </a>
                                </li>
                            </ul>
                            <!-- /ITEM LIST -->
                        </li>
                    </ul>
                </li>
                <!--/ACCORDION ITEM-->

                <!--ACCORDION ITEM-->
                <li>
                    <a href="#">
                        <h6>Đồng hồ thông minh (20)</h6>
                        <svg class="plus">
                            <rect class="vertical" x="3" width="3" height="9"/>
                            <rect y="3" width="9" height="3"/>
                        </svg>
                    </a>
                    <ul class="sub-items">
                        <li>
                            <!-- ITEM LIST -->
                            <ul>
                                <li>
                                    <a href="#">
                                        <!-- SVG ARROW -->
                                        <svg class="svg-arrow">
                                            <use xlink:href="#svg-arrow"></use>
                                        </svg>
                                        <!-- /SVG ARROW -->
                                        Samsung (12)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <!-- SVG ARROW -->
                                        <svg class="svg-arrow">
                                            <use xlink:href="#svg-arrow"></use>
                                        </svg>
                                        <!-- /SVG ARROW -->
                                        Rolex (5)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <!-- SVG ARROW -->
                                        <svg class="svg-arrow">
                                            <use xlink:href="#svg-arrow"></use>
                                        </svg>
                                        <!-- /SVG ARROW -->
                                        Khác (3)
                                    </a>
                                </li>
                            </ul>
                            <!-- /ITEM LIST -->
                        </li>
                    </ul>
                </li>
                <!--/ACCORDION ITEM-->

                <!--ACCORDION ITEM-->
                <li>
                    <a href="#">
                        <h6>Pants / Skirts (28)</h6>
                        <svg class="plus">
                            <rect class="vertical" x="3" width="3" height="9"/>
                            <rect y="3" width="9" height="3"/>
                        </svg>
                    </a>
                    <ul class="sub-items">
                        <li>
                            <!-- ITEM LIST -->
                            <ul>
                                <li>
                                    <a href="#">
                                        <!-- SVG ARROW -->
                                        <svg class="svg-arrow">
                                            <use xlink:href="#svg-arrow"></use>
                                        </svg>
                                        <!-- /SVG ARROW -->
                                        Tv Collection (12)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <!-- SVG ARROW -->
                                        <svg class="svg-arrow">
                                            <use xlink:href="#svg-arrow"></use>
                                        </svg>
                                        <!-- /SVG ARROW -->
                                        Movie Collection (5)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <!-- SVG ARROW -->
                                        <svg class="svg-arrow">
                                            <use xlink:href="#svg-arrow"></use>
                                        </svg>
                                        <!-- /SVG ARROW -->
                                        Halloween Themed (3)
                                    </a>
                                </li>
                            </ul>
                            <!-- /ITEM LIST -->
                        </li>
                    </ul>
                </li>
                <!--/ACCORDION ITEM-->

                <!--ACCORDION ITEM-->
                <li>
                    <a href="#"><h6>Đồng hồ treo tường (10)</h6></a>
                </li>
                <!--/ACCORDION ITEM-->

                <!--ACCORDION ITEM-->
                <li>
                    <a href="#"><h6>Custom Sneakers (17)</h6></a>
                </li>
                <!--/ACCORDION ITEM-->

                <!--ACCORDION ITEM-->
                <li>
                    <a href="#">
                        <h6>Nightgowns (6)</h6>
                        <svg class="plus">
                            <rect class="vertical" x="3" width="3" height="9"/>
                            <rect y="3" width="9" height="3"/>
                        </svg>
                    </a>
                    <ul class="sub-items">
                        <li>
                            <!-- ITEM LIST -->
                            <ul>
                                <li>
                                    <a href="#">
                                        <!-- SVG ARROW -->
                                        <svg class="svg-arrow">
                                            <use xlink:href="#svg-arrow"></use>
                                        </svg>
                                        <!-- /SVG ARROW -->
                                        Tv Collection (12)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <!-- SVG ARROW -->
                                        <svg class="svg-arrow">
                                            <use xlink:href="#svg-arrow"></use>
                                        </svg>
                                        <!-- /SVG ARROW -->
                                        Movie Collection (5)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <!-- SVG ARROW -->
                                        <svg class="svg-arrow">
                                            <use xlink:href="#svg-arrow"></use>
                                        </svg>
                                        <!-- /SVG ARROW -->
                                        Halloween Themed (3)
                                    </a>
                                </li>
                            </ul>
                            <!-- /ITEM LIST -->
                        </li>
                    </ul>
                </li>
                <!--/ACCORDION ITEM-->
            </ul>
            <!-- /ACCORDION -->

            <h3 class="title">Bộ lọc tìm kiếm</h3>
            <form class="westeros-form">
                <input type="checkbox" id="item1" name="item1">
                <label for="item1"><span class="checkbox"><span></span></span>Nam (63)</label>
                <input type="checkbox" id="item2" name="item2">
                <label for="item2"><span class="checkbox"><span></span></span>Nữ (25)</label>
                <input type="checkbox" id="item3" name="item3" checked>
                <label for="item3"><span class="checkbox"><span></span></span>Gần đây (31)</label>
                <input type="checkbox" id="item4" name="item4">
                <label for="item4"><span class="checkbox"><span></span></span>Trắng (17)</label>
                <input type="checkbox" id="item5" name="item5" checked>
                <label for="item5"><span class="checkbox"><span></span></span>Bán chạy nhất! (12)</label>
                <input type="checkbox" id="item6" name="item6" checked>
                <label for="item6"><span class="checkbox"><span></span></span>Đang giảm giá (8)</label>
            </form>

            <!-- SHOP BY PRICE -->
            <h3 class="title">Theo giá</h3>
            <form class="westeros-form price-range">
                <input type="hidden" class="range-slider" value="200">
                <button class="button small">Lọc theo giá</button>
            </form>
            <div class="clearfix"></div>
            <!-- /SHOP BY PRICE -->

            <!-- SHOP BY COLOR -->
            <h3 class="title">Lọc theo màu sắc</h3>
            <!-- COLORPICKER -->
            <ul class="colorpicker">
                <li><span data-color="#008fbe"></span></li>
                <li><span data-color="#00b3be"></span></li>
                <li><span data-color="#17ccac"></span></li>
                <li><span data-color="#7dcb17"></span></li>
                <li><span data-color="#a34dbf"></span></li>
                <li><span data-color="#ffb414"></span></li>
                <li><span data-color="#ff8a2c"></span></li>
                <li><span data-color="#dc0b3a"></span></li>
                <li><span data-color="#ff5475"></span></li>
            </ul>
            <!-- /COLORPICKER -->
            <div class="clearfix"></div>
            <!-- /SHOP BY COLOR -->

            <!-- TAG CLOUD -->
            <h3 class="title">Lọc theo thẻ</h3>
            <ul class="tags">
                <li><a href="#">Nam</a></li>
                <li><a href="#">Nữ</a></li>
                <li><a href="#">Trắng</a></li>
                <li><a href="#">Sell</a></li>
                <li><a href="#">Mới</a></li>
                <li><a href="#">Đẹp</a></li>
                <li><a href="#">Thoải mái</a></li>
                <li><a href="#">Giảm giá</a></li>
            </ul>
            <!-- /TAG CLOUD -->

            <h3 class="title">Sản phẩm bán chạy</h3>
            <!-- PRODUCT PREVIEW -->
            <ul class="product-preview">

                {{#each dat1}}
                    <li>
                        <a href="full-view.html">
                            <div class="picture">
                                <figure class="liquid">
                                    <img src="{{this.url}}" alt="product1">
                                </figure>
                            </div>
                        </a>
                        <a href="women-shop.html"><p class="highlighted category">{{this.name}}</p></a>
                        <a href="full-view.html"><h6>{{this.seri}}</h6></a>
                        <!-- RATING -->
                        <ul class="rating">
                            <li class="filled">
                                <!-- SVG STAR -->
                                <svg class="svg-star">
                                    <use xlink:href="#svg-star"></use>
                                </svg>
                                <!-- /SVG STAR -->
                            </li>
                            <li class="filled">
                                <!-- SVG STAR -->
                                <svg class="svg-star">
                                    <use xlink:href="#svg-star"></use>
                                </svg>
                                <!-- /SVG STAR -->
                            </li>
                            <li class="filled">
                                <!-- SVG STAR -->
                                <svg class="svg-star">
                                    <use xlink:href="#svg-star"></use>
                                </svg>
                                <!-- /SVG STAR -->
                            </li>
                            <li class="filled">
                                <!-- SVG STAR -->
                                <svg class="svg-star">
                                    <use xlink:href="#svg-star"></use>
                                </svg>
                                <!-- /SVG STAR -->
                            </li>
                            <li>
                                <!-- SVG STAR -->
                                <svg class="svg-star">
                                    <use xlink:href="#svg-star"></use>
                                </svg>
                                <!-- /SVG STAR -->
                            </li>
                        </ul>
                        <!-- /RATING -->
                        <p class="highlighted current">{{this.price}}</p>
                    </li>
                {{/each}}

            </ul>
            <!-- /PRODUCT PREVIEW -->

            <figure>
                <img src="images/banners/banner4.jpg" alt="advertising">
            </figure>
        </aside>
        <!-- /SHOP SIDEBAR -->

        <!-- SHOP PRODUCTS -->
        <div class="shop-products">
            <h3 class="title">DANH MỤC SẢN PHẨM</h3>
            <figure class="section-banner">
                <img src="images/shop_product/sell03.jpg" alt="women-banner">
            </figure>
            <!-- FILTERS -->
            <div class="filters">
                <h3 class="subtitle">Hiển thị 1 đến 15 trong tổ số 350 sản phẩm</h3>
                <div class="options">
                    <form class="westeros-form">
                        <label class="select-block" for="show">Hiện:
                            <select name="show" id="show">
                                <option value="1">15 SP mỗi trang</option>
                                <option value="2">20 SP mỗi trang</option>
                            </select>
                            <!-- SVG ARROW -->
                            <svg class="svg-arrow select-arrow">
                                <use xlink:href="#svg-arrow"></use>
                            </svg>
                            <!-- /SVG ARROW -->
                        </label>
                        <label class="select-block" for="sort">Sắp xếp theo:
                            <select name="sort" id="sort">
                                <option value="1">Giá (Giảm dần)</option>
                                <option value="2">Giá (Tăng dần)</option>
                            </select>
                            <!-- SVG ARROW -->
                            <svg class="svg-arrow select-arrow">
                                <use xlink:href="#svg-arrow"></use>
                            </svg>
                            <!-- /SVG ARROW -->
                        </label>
                    </form>
                    <!-- VIEW DISPLAY -->
                    <ul class="display">
                        <li class="grid selected">
                            <!-- SVG GRID -->
                            <svg class="svg-grid">
                                <use xlink:href="#svg-grid"></use>
                            </svg>
                            <!-- /SVG GRID -->
                        </li>
                        <li class="list">
                            <!-- SVG LIST -->
                            <svg class="svg-list">
                                <use xlink:href="#svg-list"></use>
                            </svg>
                            <!-- /SVG LIST -->
                        </li>
                    </ul>
                    <!-- /VIEW DISPLAY -->
                </div>
            </div>
            <!-- /FILTERS -->

            <!-- COMPARE MODAL -->
            <div id="compare-modal" class="compare-modal mfp-with-anim mfp-hide">
                <img src="images/icons/compare-modal-logo.png" alt="logo">
                <h5>Sản phẩm <span>tên sản phẩm</span></h5>
                <h6>đã được thêm vào so sánh</h6>
                <div class="options">
                    <a class="button medium mfp-close">Trở về shop</a>
                    <a href="/compare" class="button medium compare">So sánh</a>
                </div>
            </div>
            <!-- /COMPARE MODAL -->

            <!-- PRODUCT LIST -->
            <ul class="product-list grid">
                <!-- PRODUCT -->
                {{#each dat2}}
                    <li class="list-item">
                        <!-- ACTIONS -->
                        <div class="actions">
                            <figure class="liquid">
                                <img src="{{this.url}}" alt="product1">
                            </figure>
                            <div>
                                <a href="#qv-p1" class="button quick-view" data-effect="mfp-3d-unfold">
                                    <!-- SVG QUICKVIEW -->
                                    <svg class="svg-quickview">
                                        <use xlink:href="#svg-quickview"></use>
                                    </svg>
                                    <!-- /SVG QUICKVIEW -->
                                </a>
                                <!-- QUICK VIEW POPUP -->
                                <div id="qv-p1" class="product-quick-view mfp-with-anim mfp-hide">
                                    <!-- PRODUCT PICTURES -->
                                    <div class="product-pictures">
                                        <div class="product-photo">
                                            <figure class="liquid">
                                                <img src="images/shop_product/02.jpg" alt="product-image">
                                            </figure>
                                        </div>
                                        <ul class="picture-views">
                                            <!-- VIEW -->
                                            <li class="selected">
                                                <figure class="liquid">
                                                    <img src="images/shop_product/03.jpg" alt="picture-view">
                                                </figure>
                                            </li>
                                            <!-- /VIEW -->

                                            <!-- VIEW -->
                                            <li>
                                                <figure class="liquid">
                                                    <img src="{{this.url}}" alt="picture-view">
                                                </figure>
                                            </li>
                                            <!-- /VIEW -->
                                        </ul>
                                    </div>
                                    <!-- /PRODUCT PICTURES -->

                                    <!-- PRODUCT DESCRIPTION -->
                                    <div class="product-description">
                                        <a href="#"><p class="highlighted category">{{this.name}}</p></a>
                                        <a href="#"><h6>{{this.seri}}</h6></a>
                                        <!-- RATING -->
                                        <ul class="rating big">
                                            <li class="filled">
                                                <!-- SVG STAR -->
                                                <svg class="svg-star">
                                                    <use xlink:href="#svg-star"></use>
                                                </svg>
                                                <!-- /SVG STAR -->
                                            </li>
                                            <li class="filled">
                                                <!-- SVG STAR -->
                                                <svg class="svg-star">
                                                    <use xlink:href="#svg-star"></use>
                                                </svg>
                                                <!-- /SVG STAR -->
                                            </li>
                                            <li class="filled">
                                                <!-- SVG STAR -->
                                                <svg class="svg-star">
                                                    <use xlink:href="#svg-star"></use>
                                                </svg>
                                                <!-- /SVG STAR -->
                                            </li>
                                            <li class="filled">
                                                <!-- SVG STAR -->
                                                <svg class="svg-star">
                                                    <use xlink:href="#svg-star"></use>
                                                </svg>
                                                <!-- /SVG STAR -->
                                            </li>
                                            <li>
                                                <!-- SVG STAR -->
                                                <svg class="svg-star">
                                                    <use xlink:href="#svg-star"></use>
                                                </svg>
                                                <!-- /SVG STAR -->
                                            </li>
                                        </ul>
                                        <!-- /RATING -->
                                        <p>{{this.des}}</p>
                                        <p class="highlighted current">{{this.price}}</p>
                                        <p class="highlighted previous">{{this.oldprice}}</p>
                                        <h5 class="stock">Còn:
                                            <!-- SVG CHECK -->
                                            <svg class="svg-check">
                                                <use xlink:href="#svg-check"></use>
                                            </svg>
                                            <!-- /SVG CHECK -->
                                            <span class="available">Hiện còn bán</span>
                                        </h5>
                                        <h5>Màn hình:</h5>
                                        <form class="westeros-form">
                                            <input id="small1" type="radio" name="size" value="small">
                                            <label for="small1"><span class="radio"><span></span></span>Chống thấm</label>

                                            <input id="medium1" type="radio" name="size" value="medium">
                                            <label for="medium1"><span class="radio"><span></span></span>Chống trầy</label>

                                            <input id="large1" type="radio" name="size" value="large" checked>
                                            <label for="large1"><span class="radio"><span></span></span>Cường lực</label>

                                            <input id="extralarge1" type="radio" name="size" value="extralarge">
                                            <label for="extralarge1"><span class="radio"><span></span></span>Chống nước</label>
                                        </form>
                                        <div class="color-selection">
                                            <h5>Màu sắc:</h5>
                                            <!-- COLORPICKER -->
                                            <ul class="colorpicker">
                                                <li><span data-color="#008fbe"></span></li>
                                                <li class="selected"><span data-color="#17ccac"></span></li>
                                                <li><span data-color="#4c4cab"></span></li>
                                                <li><span data-color="#252525"></span></li>
                                            </ul>
                                            <!-- /COLORPICKER -->
                                        </div>
                                        <div>
                                            <h5>Số lượng:</h5>
                                            <!-- COUNTER -->
                                            <div class="counter">
                                                <div class="control left"></div>
                                                <div class="value">
                                                    <h5>1</h5>
                                                </div>
                                                <div class="control right"></div>
                                            </div>
                                            <!-- /COUNTER -->
                                        </div>
                                        <div class="options">
                                            <a href="#" class="button medium fb"></a>
                                            <a href="#" class="button medium twt"></a>
                                            <a href="#compare-modal" class="button medium compare cmp-popup" data-effect="mfp-3d-unfold">
                                                <!-- SVG COMPARE -->
                                                <svg class="svg-compare">
                                                    <use xlink:href="#svg-compare"></use>
                                                </svg>
                                                <!-- /SVG COMPARE -->
                                            </a>
                                            <a href="#" class="button medium wishlist">
                                                <!-- SVG WISHLIST -->
                                                <svg class="svg-wishlist">
                                                    <use xlink:href="#svg-wishlist"></use>
                                                </svg>
                                                <!-- /SVG WISHLIST -->
                                            </a>
                                            <a href="/cart" class="button cart-add">
                                                <!-- SVG PLUS -->
                                                <svg class="svg-plus">
                                                    <use xlink:href="#svg-plus"></use>
                                                </svg>
                                                <!-- /SVG PLUS -->
                                                Giỏ hàng
                                            </a>
                                        </div>
                                    </div>
                                    <!-- /PRODUCT DESCRIPTION -->
                                </div>
                                <!-- /QUICK VIEW POPUP -->
                                <a href="full-view.html" class="button full-view">
                                    <!-- SVG FULLVIEW -->
                                    <svg class="svg-fullview">
                                        <use xlink:href="#svg-fullview"></use>
                                    </svg>
                                    <!-- /SVG FULLVIEW -->
                                </a>
                                <a href="#compare-modal" class="button compare cmp-popup" data-effect="mfp-3d-unfold">
                                    <!-- SVG COMPARE -->
                                    <svg class="svg-compare">
                                        <use xlink:href="#svg-compare"></use>
                                    </svg>
                                    <!-- /SVG COMPARE -->
                                </a>
                            </div>
                        </div>
                        <!-- /ACTIONS -->

                        <!-- DESCRIPTION -->
                        <div class="description">
                            <div class="clearfix">
                                <a href="#"><p class="highlighted category">{{this.name}}</p></a>
                                <!-- RATING -->
                                <ul class="rating">
                                    <li class="filled">
                                        <!-- SVG STAR -->
                                        <svg class="svg-star">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                        <!-- /SVG STAR -->
                                    </li>
                                    <li class="filled">
                                        <!-- SVG STAR -->
                                        <svg class="svg-star">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                        <!-- /SVG STAR -->
                                    </li>
                                    <li class="filled">
                                        <!-- SVG STAR -->
                                        <svg class="svg-star">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                        <!-- /SVG STAR -->
                                    </li>
                                    <li class="filled">
                                        <!-- SVG STAR -->
                                        <svg class="svg-star">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                        <!-- /SVG STAR -->
                                    </li>
                                    <li>
                                        <!-- SVG STAR -->
                                        <svg class="svg-star">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                        <!-- /SVG STAR -->
                                    </li>
                                </ul>
                                <!-- /RATING -->
                            </div>
                            <div class="clearfix">
                                <a href="#"><h6>{{this.seri}}</h6></a>
                            </div>
                            <div class="clearfix">
                                <p>Xem mô tả chi tiết</p>
                                <p class="highlighted current">{{this.price}}</p>
                            </div>

                            <!-- CART OPTIONS -->
                            <div class="cart-options">
                                <a href="/cart" class="button medium wishlist">
                                    <!-- SVG WISHLIST -->
                                    <svg class="svg-wishlist">
                                        <use xlink:href="#svg-wishlist"></use>
                                    </svg>
                                    <!-- /SVG WISHLIST -->
                                </a>
                                <a href="/cart" class="button cart-add">
                                    <!-- SVG PLUS -->
                                    <svg class="svg-plus">
                                        <use xlink:href="#svg-plus"></use>
                                    </svg>
                                    <!-- /SVG PLUS -->
                                    Giỏ hàng
                                </a>
                            </div>
                            <!-- /CART OPTIONS -->
                        </div>
                        <!-- /DESCRIPTION -->
                    </li>
                {{/each}}
                <!-- /PRODUCT -->

            </ul>
            <!-- /PRODUCT LIST -->

            <!-- PAGER -->
            <ul class="pager">
                <li>
                    <a href="#" class="button prev">
                        <!-- SVG ARROW -->
                        <svg class="svg-arrow">
                            <use xlink:href="#svg-arrow"></use>
                        </svg>
                        <!-- /SVG ARROW -->
                    </a>
                </li>
                <li class="selected"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">17</a></li>
                <li>
                    <a href="#" class="button next">
                        <!-- SVG ARROW -->
                        <svg class="svg-arrow">
                            <use xlink:href="#svg-arrow"></use>
                        </svg>
                        <!-- /SVG ARROW -->
                    </a>
                </li>
            </ul>
            <!-- /PAGER -->
        </div>
        <!-- /SHOP PRODUCTS -->
        <div class="clearfix"></div>
    </section>
</div>
<!-- /SHOP -->